

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sessão Expirada</title>
</head>
<body>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <img src="~/img/Assitente.png" /> <h1><small>  SUA SESSÃO EXPIROU! </small> </h1><br />
            <h4>Prezado usuário, informamos que sua conexão foi expirada. Por favor, realize o login novamente.</h4>
            @*<h6><small>  Para garantir sua segurança sua sessão foi finalizada.</small> </h6>*@

            <br />
            <br />
            <br />
            <br />
            <br />
            <h4>Deseja logar novamente? @Html.ActionLink("Clique aqui!", "login", "autenticacao")</h4>
        </div>
    </div>
</body>
</html>


